<h3>Activities</h3>
<ul>
  <li><%= link_to 'Honiton Golf Course', 'http://www.honitongolfclub.co.uk', target: '_blank'%></li>
  <li><%= link_to 'Crewkerne riding school', 'http://www.thomsonlocal.com/Riding-Schools/in/Crewkerne/', target: '_blank'%></li>
  <li><%= link_to 'Seaton Tramway', 'http://www.tram.co.uk', target: '_blank'%></li>
  <li><%= link_to 'Lyme Regis Aquarium', 'http://www.lymeregismarineaquarium.co.uk', target: '_blank'%></li>
  <li><%= link_to 'Lyme Regis boat trips ', 'http://www.mackerelfishinglymeregis.com', target: '_blank'%></li>
  <li><%= link_to 'Abbotsbury swannery', 'http://abbotsbury-tourism.co.uk/swannery/', target: '_blank'%></li>
</ul>


