<div class="row">
  <div class="col-sm-12">
    <p>One of the main attractions of the house is the beautiful area it is set in and its proximity to local pubs, restaurants, market towns, National Trust properties and the famous and stunning Jurassic Coast. So, here is a list of some ideas for places to visit:</p>

  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= 'active' if params[:page] == 'eating' || params[:page].nil? %>"><%= link_to 'Food and Drink', '/local/eating' %></li>
        <li class="<%= 'active' if params[:page] == 'walks'  %>"><%= link_to 'Walks & Beaches', '/local/walks' %></li>
        <li class="<%= 'active' if params[:page] == 'culture'%>"><%= link_to 'Arts and Culture', '/local/culture' %></li>
        <li class="<%= 'active' if params[:page] == 'activities'%>"><%= link_to 'Activities', '/local/activities' %></li>
        <li class="<%= 'active' if params[:page] == 'amenities'%>"><%= link_to 'Local Amenities', '/local/amenities' %></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-10">
    <% if params[:page].nil? %>
        <%= render "static/local/eating" %>
    <% else %>
        <%= render "static/local/#{params[:page]}"%>
    <% end %>
  </div>
</div>
