<!DOCTYPE html>
<html>
<head>
  <title>Fordwater Farm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1><%= link_to 'Fordwater Farm', root_path %></h1>
      </div>
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Facilities', facilities_path %></li>
        <li><%= link_to 'Local Attractions', local_path %></li>
        <li><%= link_to 'Information for Guests', info_path %></li>
        <li><%= link_to 'How To Get There', how_to_get_there_path %></li>
      </ul>
      <hr/>
    </div>
  </div>
  <%= yield %>
  <hr/>
  <div class="row">
    <div class="col-sm-4">
      <p>Contact us: <a href="mailto:isobel.cowpercoles@gmail.com">isobel.cowpercoles@gmail.com</a></p>
    </div>
    <div class="col-sm-4">
      <p>Price: £20 per person per night</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>



</body>
</html>
